* {
  box-sizing: border-box;
}

body {
  font-family: 'Myriad Pro', sans-serif;
}

.primary-text {
  color: #ff0066;
}

.primary-bg {
  background-color: #ff0066;
}

.fs-40 {
  font-size: 40px;
}

.fs-20 {
  font-size: 20px;
}

header img {
  width: 25px;
}

.banner {
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner h2 {
  font-size: 50px;
}

.banner .img {
  bottom: -100%;
}

.services .service-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  left: 0;
}

.service-img img {
  height: 250px;
  object-fit: cover;
}

.service-info{
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.service-info img{
  width: 45px;
}